<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event</title>
    <link rel="stylesheet" href="../Styles/event.css">
    <script type="text/javascript" src="../Interactions/js.js"></script>
</head>
<body>
    <div class="inscription">
        <p>INSCRIPTION</p>
    </div>
    <div class="formu">
        <p style="color:red">Les champs précédés par * sont obligatoires</p><br><br>
        <form class="Formul" action="bienvenue.html" method="post" target="_blank">
            Nom <font style="color:red">*</font>
            <input class="Nom1" type="text" name="nom" placeholder="Nom" id="nom" onblur="verifpseudo(this)" required><br><br>
            Prénom <font style="color:red">*</font>
            <input class="prénom1" type="text" name="prenom" placeholder="Prénom" id="prenom" onblur="verifpseudo(this)" required><br><br>
            Email <font style="color:red">*</font>
            <input class="Email1" type="text" name="Email" placeholder="Email" id="email" onblur="verifemail()" required><br><br>
            Mot de passe <font style="color:red">*</font>
            <input class="pass1" type="password" name="pass" placeholder="Mot de Passe" id="password1" required><br><br>
            Confirmation <font style="color:red">*</font>
            <input class="pass2" type="password" name="confirm" placeholder="Confirmation" id="password2" onblur="verifpass()" required><br><br><br>
            <input class="sinscrire" type="submit" name="envoyer" value="S'inscrire">
        </form>
    </div>
</body>
</html>
