<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="../Styles/index.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="personal-info">
            <img class="pdp" src="../Images/pdp.jpg" alt="MyPicture">
            <div class="name1">
                <p class="name"><span style="color:#000000; font-family:Optima; font-size:21pt;">Sbai Anas</span></p>
                <p class="Etudiant"><span style="color:#000000; font-family:Verdana; font-size:10pt;">Former Student at the Ecole Supérieure de Technologie Fes - Statistics and Business Intelligence</span></p>
                <p class="Etudiant1"><span style="color:#000000; font-family:Geneva; font-size:8pt;">Sidi Mohammed Ben Abdellah University</span></p>
            </div>
        </div>

        <div class="diplomes">
            <p class="recherche"><span style="color:#58AFCD; font-family:Optima; font-size:12pt;"><u>Diplomas and Work Experience:</u></span></p><br>
            <ul type="square">
                <li>Baccalaureate in Physical Sciences</li>
                <li>First year in Associate's Degree in Statistics and Business Intelligence</li>
                <li>German Language - B1</li>
                <li>9 months at Bell Canada as a Network Technician</li>
            </ul>
        </div>

        <div class="Domaines">
            <p class="recherche"><span style="color:#58AFCD; font-family:Optima; font-size:12pt;"><u>Research Areas:</u></span></p><br>
            <ul type="square">
                <li>Machine Learning</li>
                <li>Data Partitioning and Classification</li>
                <li>Data Analysis</li>
                <li>Artificial Intelligence</li>
                <li>Semantic Web and Ontology</li>
                <li>Interoperability of Information Systems</li>
                <li>Recommendation System</li>
                <li>Image Processing</li>
                <li>Deep Learning</li>
            </ul>
        </div>

        <div class="Langage">
            <p class="recherche"><span style="color:#58AFCD; font-family:Optima; font-size:12pt;"><u>Programming Languages:</u></span></p><br>
            <img class="progC" src="../Images/c.png" alt="C">
            <img class="progHtml" src="../Images/htm.png" alt="HTML">
            <img class="progCss" src="../Images/cs.png" alt="CSS">
        </div>

        <div class="Icons">
            <p class="Languages"><span style="color:#58AFCD; font-family:Optima; font-size:12pt; text-align: center;">Languages :</span></p><br>
            <img class="ar" src="../Images/arabe.png" alt="Arabe">
            <img class="fr" src="../Images/french.png" alt="French">
            <img class="en" src="../Images/english.png" alt="English">
            <img class="en" src="../Images/german.png" alt="German">
        </div>

        <div class="Contact">
            <a class="lien1" href="mailto:anas.sbai2023@gmail.com" title="Send me an E-mail">Contact me</a>
        </div>

        <div class="Event">
            <p class="Event1"><span style="color:#58AFCD; font-family:Optima; font-size:12pt;"><u>Upcoming Event:</u></span></p><br>
            <p style="color:#FFFFFF; font-family: times, serif; font-size:14pt; font-style:italic">
                The upcoming event is a rap battle happening in Fes on January 15. If you're interested in rap or you want to battle, please sign up by clicking this link:
            </p>
            <a class="lien" href="../Views/event.html" title="Event link" target="_blank">Sign up</a>
        </div>
    </div>
</body>
</html>
