body {
  background-image: url(../Images/rap.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

.inscription {
  margin-left: 400px;
  width: 120px;
  height: 25px;
  margin-top: 100px;
  color: black;
  font-family: "source code pro", cursive, serif;
  border-radius: 10px / 5px;
  background: #EEE8AA;
}

.formu {
  margin-left: 500px;
  margin-top: 80px;
  color: white;
}

.Nom1 {
  margin-left: 80px;
}

input {
  border: solid 1px grey;
  border-radius: 5px;
  height: 25px;
  width: 250px;
}

input:focus {
  background-color: #EEE8AA;
}

.prénom1 {
  margin-left: 62px;
}

.Email1 {
  margin-left: 74px;
}

.pass1 {
  margin-left: 28px;
}

.pass2 {
  margin-left: 26px;
}

.sinscrire {
  margin-left: 80px;
  width: 150px;
}

.sinscrire:focus {
  background-color: grey;
}

.chokran {
  margin-left: 500px;
  margin-top: 150px;
  color: #EEE8AA;
}

.diapo {
  margin-left: 500px;
  margin-top: 25px;
}
